name: ci

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: actions/setup-node@v3.6.0
        with:
          node-version-file: .node-version
          cache: yarn
      - name: build
        run: |
          yarn
          yarn build

